<div
  class="max-w-[85rem] flex-1 px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto h-full"
  (window:keyup)="onKeyUp($event)"
>
  <div class="mx-auto max-w-2xl" tabindex="-2">
    <div
      class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden"
      #inputCard
      tabindex="-1"
      (focus)="onCardFocus()"
      (blur)="onCardBlur()"
    >
      <div class="p-4 sm:p-7">
        <div class="space-y-4">
          @if (isExpanded) {
            <input
              type="text"
              class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500"
              placeholder="Title"
              [(ngModel)]="newTodo.title"
              (focus)="onTitleFocus()"
              (blur)="onTitleBlur()"
            />
          }
          <div>
            <textarea
              [ngClass]="[
                'py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none resize-none',
                isExpanded ? 'text-xs' : 'text-sm',
              ]"
              [rows]="isExpanded ? 3 : 1"
              placeholder="Make a task..."
              [(ngModel)]="newTodo.description"
              (ngModelChange)="onDescriptionChange()"
              (focus)="onDescriptionFocus()"
              (blur)="onDescriptionBlur()"
              (click)="onDescriptionClick()"
              #descriptionInput
            ></textarea>
          </div>
        </div>
      </div>
      @if (isExpanded) {
        <div class="bg-gray-50 border-t border-gray-200 py-3 px-4">
          <div class="flex justify-end gap-x-2">
            <button
              type="button"
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
              (click)="collapse()"
            >
              {{ editingTodo ? 'Update' : 'Add' }}
            </button>
          </div>
        </div>
      }
    </div>
  </div>

  <div
    class="grid md:grid-cols-3 flex-1 gap-4 mt-4 kanban-container p-4"
    cdkDropListGroup
  >
    @for (statusInfo of todoStatusInfo; track statusInfo) {
      <div
        class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5"
      >
        <h3 id="statusInfo.title" class="text-lg font-bold text-gray-800">
          {{ statusInfo.title }}
        </h3>
        <div
          cdkDropList
          [id]="'cdk-drop-list-' + statusInfo.status"
          [cdkDropListData]="getTodosByStatus(statusInfo.status)"
          (cdkDropListDropped)="drop($event)"
          class="min-h-[9.5rem]"
        >
          @for (todo of getTodosByStatus(statusInfo.status); track todo.id) {
            <div
              class="flex flex-col bg-white border shadow-sm rounded-xl break-all text-balance mt-3"
              cdkDrag
              cdkDragBoundary=".kanban-container"
            >
              <div
                class="p-4 md:p-5 min-h-[9.375rem] flex flex-col justify-between"
              >
                @if (todo.title) {
                  <h3 id="todo.title" class="text-lg font-bold text-gray-800">
                    {{ todo.title }}
                  </h3>
                }
                @if (todo.description) {
                  <p class="mt-2 text-gray-500">{{ todo.description }}</p>
                }
                <div class="mt-3 flex gap-x-2">
                  <button
                    type="button"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                    (click)="editTodo(todo)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-red-600 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                    (click)="deleteTodo(todo)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
